/* #particles-js {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #161a23;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
} */

.seta:hover path {
    stroke: #FFC01D;
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 !important;
}

.login-corpo {
    width: 70%;
}

.login-corpo h3 {
    color: #fff;
    font-family: "Plus Jakarta Sans SemiBold";
    margin-bottom: 5vh;
    font-size: 1.8rem;
}

.imgLogin {
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgLogin h3 {
    font-family: "Plus Jakarta Sans SemiBold";
    color: #000;
    margin-bottom: 10vh !important;
}

.img-login {
    width: 80%;
}

.login-btn {
    height: 100%;
    width: 60%;
    background-color: #161A23;
    border-radius: 20px 0 0 20px;
    justify-items: center;
    align-content: center;
}

.usuario-tipo {
    color: #fff;
    margin: 0;
    font-family: "Plus Jakarta Sans Medium";
    font-size: 1.3rem;
}

.login-btn-cont {
    justify-items: center;
}

.container-itens-login {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.container-login {
    justify-items: end;
    width: 100%;
    padding: 4vh 3vw;
    background-color: #2D2F39;
    border-radius: 20px;
}

/* formulario */
.formulario-login {
    display: flex;
    flex-direction: column;
}

.formulario-login label {
    color: #fff;
    font-family: "Plus Jakarta Sans SemiBold";
    margin-bottom: 1.2vh;
    font-size: 1.3rem;
}

.formulario-login label:not(:first-child) {
    margin-top: 6vh;
}

.formulario-login input {
    color: #000;
    padding: 0.7rem;
    border-bottom: 0.5px solid #FFFFFF61;
    background-color: #fff;
}

.formulario-login input:focus {
    outline: 0px;
}

.formulario-login input::placeholder {
    font-family: "Plus Jakarta Sans Regular";
    color: #FFFFFF61;
}

.btn-entrar {
    background-color: #FFC01D;
    width: 100%;
    border-radius: 10px;
    color: #000;
    font-family: "Plus Jakarta Sans SemiBold";
    padding: 1vh 0;
    margin-top: 8vh;
}

.campo-senha {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.campo-senha input {
    width: 90%;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-ms-reveal {
    display: none;
}

/* responsividade */