hr {
    width: 300px;
}

body {
    background-color: #F5F5F5 !important;
}

main {
    align-content: start;
}

section {
    margin-top: 10vh;
}

.page-indicador {
    width: fit-content;
    margin-bottom: 8vh;
}

.page-indicador h1 {
    font-family: 'Plus Jakarta Sans Bold';
}


.navegacao {
    margin-bottom: 10vh;
}

body {
    background-color: #F5F5F5 !important;
}

main {
    align-content: start;
}

section {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.page-indicador {
    width: fit-content;
    margin-bottom: 8vh;
}

.page-indicador h1 {
    font-family: 'Plus Jakarta Sans Bold';
}

.days,
section {
    width: 100%;
}

.days h2 {
    font-family: 'Plus Jakarta Sans Semibold';
    margin-bottom: 3vh;
    font-size: 1.5rem;
}

.container-viagem {
    width: 100%;
    padding: 1.3rem 2.3rem;
    box-shadow: rgba(0, 0, 0, 0.04) 5px 3px 5px 5px;
    margin-bottom: 30px;
    transition: box-shadow .3s;
    background-color: white;
    border-radius: 2vw;

}

.ver-mais {
    background-color: #013FF6;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    gap: 15px;
    color: white;
    font-family: 'Plus Jakarta Sans Semibold';
}

.drop {
    width: 10px;
}

.container-viagem p {
    font-family: 'Plus Jakarta Sans Medium';
    font-size: 1rem;
}

.container-viagem h3 {
    font-family: 'Plus Jakarta Sans Bold';
    font-size: 1.2rem;
}

.container-viagem:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.06);
}

.status {
    background-color: aqua;
    padding: 5px 20px;
    border-radius: 10px;

}

.titulo-status {
    width: 100%
}

.circle {
    margin: 0 1.7vw;
}

.circle-t {
    margin: 0 1vw 0 0;
}



.foto-aluno {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.mounth {
    margin-bottom: 10vh;
}

.data-envio {
    font-family: 'Plus Jakarta Sans Regular';
}

@media screen and (max-width: 1024px) {
    .textos p {
        width: 70%;
    }

    .ver-mais {
        padding: 10px 20px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 800px) {
    .foto-aluno {
        width: 70px;
        height: 70px;
    }

    .textos p {
        width: 100%;
    }

    .conteudo-card .ver-mais{
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .textos p {
        font-size: 0.9rem;
    }

    .ver-mais {
        font-size: 0.8rem;
    }

    .container-viagem h3 {
        font-family: 'Plus Jakarta Sans Bold';
        font-size: 1.2rem;
        white-space: nowrap;
    }
}