body{
    background-color: #F5F5F5 !important;
}

main{
    align-content: start;
}

.div-section{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.page-indicador{
    width: fit-content;
    margin-bottom: 8vh;
}

.page-indicador h1{
    font-family: 'Plus Jakarta Sans Bold';
}

hr{
    width:auto
}

.texto-card{
    text-align: left;
}

.align-right{
    text-align: right;
}

.container-viagem{
    width: 100%;
    margin-bottom: 30px;
   justify-content: center; 
}

.container-viagem:hover{
    box-shadow: 0 0 11px rgba(0,0,0,0.06);
}

.container-viagem h3{
    font-family: 'Plus Jakarta Sans Semibold';
    font-size: 1.2rem;
    color: black;
}
.container-viagem p{
    font-family: 'Plus Jakarta Sans Medium';
    font-size: 1rem;
    margin: 0
}

.conteudo-card{
    padding-left: 30px;
    padding-right: 30px
}

.ver-mais{
    background-color: #013FF6;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    gap: 15px;
    color: white;
    font-family: 'Plus Jakarta Sans Semibold';
    
}
.foto-aluno{
    width: 250px;
    height: 200px
}

.conteudo-escondido{
    padding: 3.3rem 2.3rem
}

.cards-horario{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px
}
.card-hora{
    box-shadow: rgba(0, 0, 0, 0.04) 5px 3px 5px 5px;
    width: fit-content;
    padding: 1.3rem 2.3rem;
}

.info-motorista{
    padding: 1.3rem 2.3rem;
}

.img-motorista{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FFC01D
    
}

.drop{
    width: 10px
}

@media screen and (max-width: 850px) {
    .conteudo-card{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
  }