.login{
    width: 100%;
    height: 100vh;
    display: flex;
}

.login-corpo{
    width: 70%;
}

.login-corpo h3 {
    color: #fff;
    font-family: "Plus Jakarta Sans SemiBold";
    margin-bottom: 5vh;
    font-size: 1.8rem;
}

.imgLogin{
    width: 40%;
    height: 100%;
    background-color: white;
}

.login-btn{
    height: 100%;
    width: 60%;
    background-color: #161A23;
    border-radius: 20px 0 0 20px;
    justify-items: center;
    align-content: center;
}

.user{
    color: #fff;
    margin: 0;
    font-family: "Plus Jakarta Sans Medium";
    font-size: 1.3rem;
}

.login-btn-cont{
    justify-items: center;
}

.container-itens-login{
 display: flex;
 width: 50%;
 justify-content: space-between;
}

.container-login{
    justify-items: end;
    width: 100%;
    padding: 4vh 3vw;
    background-color: #2D2F39;
    border-radius: 20px;
}

/* formulario */
form{
    display: flex;
    flex-direction: column;
}

form label{
    color: #fff;
    font-family: "Plus Jakarta Sans SemiBold";
    margin-bottom: 1.2vh;
    font-size: 1.3rem;
}

form label:not(:first-child){
    margin-top: 6vh;
}

form input{
    color: #fff;
    padding: 0.7rem;
    border-bottom: 0.5px solid #FFFFFF61;
}

form input:focus {
    outline: 0px; 
}

form input::placeholder{
    font-family: "Plus Jakarta Sans Regular";
    color: #FFFFFF61;
}

.btn-entrar{
    background-color: #FFC01D;
    width: 100%;
    border-radius: 10px;
    color: #000;
    font-family: "Plus Jakarta Sans SemiBold";
    padding: 1vh 0;
    margin-top: 8vh;
}

.campo-senha{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.campo-senha input{
    width: 90%;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-ms-reveal {
  display: none;
}