@import "tailwindcss";



header {
  margin-top: 5vh;
  position: absolute;
  z-index: 1;
  background-color: #161A23;
  width: 80%;
  display: flex;
  border-radius: 15px;
  justify-content: center;
}

header ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 0;
  position: relative;
  margin: 0;
}

.logo {
  font-size: 1.1rem;
  color: #ffffff86;
}

.linksrapidos {
  list-style: none;
}

.link-item {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 2;
}

.link-item a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans SemiBold", sans-serif;
  font-size: 0.9rem;
  transition: color 0.3s ease;
  position: relative;
}

.link-item a::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background: #FFC01D;
  transition: 0.3s;
}

.link-item:hover a::before {
  width: 80%;
}

.highlight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #FFC01D;
  height: 35px;
  border-radius: 30px;
  transition: 0.3s ease;
  z-index: 1;
}

.login {
  padding: 1vh 3vw;
  border-radius: 10px;
  font-family: "Plus Jakarta Sans Regular", sans-serif;
  color: #fff;
  background: #2D2F39;
}

.banner {
  height: 100vh;
  width: 100%;
  padding-top: 13%;
}

.banner1img {
  width: 100%;
}

.banner1img .montanha {
  width: 100%;
}
.banner1img .arvores{
width: 30%;
margin-left: -30vw;
}

.banner1img .onibus {
  width: 20vw;
}

.banner .banner-textos h1 {
  font-family: "Plus Jakarta Sans Bold";
  text-align: center;
  margin: 0;
  font-size: 3.5rem;
  width: 50%;
}

.banner .banner-textos p {
  font-family: "Plus Jakarta Sans Medium";
  text-align: center;
  margin: 0;
  font-size: 1.3vw;
  color: #90A3BF;
  width: 40%;
}


.secao3 {
  width: 75%;
  height: 100vh;
  justify-items: center;
  align-content: center;
}

.secao5 .banner2{
  width: 30vw;
}

.secao3-corpo {
  width: 100%;
}

.secao3 h2 {
  font-family: "Plus Jakarta Sans Bold";
  font-size: 2.5rem;
  margin-bottom: 4vh;
}

.row-left, .row-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.row-left img,
.row-right img {
  height: 20vh;
}

.row-right p, 
.row-left p {
  font-family: "Plus Jakarta Sans Regular";
  font-size: 1.2rem;
  text-align: justify;
  height: fit-content;
  margin: 0;
  width: 100%;
}

.secao4 {
  width: 75%;
  height: 100vh;
}

.secao4 h1,
h2,
h3 {
  text-align: center;
}

.secao4 h1 {
  margin-bottom: 3vh;
  font-family: "Plus Jakarta Sans Bold";
}

.secao4 h2 {
  color: #013FF6;
  font-size: 20px;
  font-family: "Plus Jakarta Sans SemiBold";
}

.secao4 .title3 {
  font-family: "Plus Jakarta Sans Regular";
  color: #90A3BF;
  font-size: 1.3rem;
}

.secao4 .bolinha {
  z-index: 1;
  margin-top: -11vw;
  min-width: 50px;
  margin-left: -5%;
}

.secao4 .cards4 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 8vh;
  width: 100%;
}

.secao4 .cards42 {
  align-items: center;
  width: 30%;
}

.secao4 .text4 {
  margin-top: 8vw;
  font-family: "Plus Jakarta Sans SemiBold";
}

.secao4 .card4 {
  z-index: -10;
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
}


.secao5 {
  background-color: #161A23;
  width: 100%;
  height: 100vh;
}

.secao5 h1,
h2,
h3 {
  text-align: center;
}

.secao5 h1 {
  font-family: "Plus Jakarta Sans Bold";
  color: white;
  margin-bottom: 3vh;
}

.secao5 h2 {
  color: #FFC01D;
  font-size: 20px;
  font-family: "Plus Jakarta Sans SemiBold";
}

.secao5 .title5_3 {
  font-family: "Plus Jakarta Sans Regular";
  font-size: 1.3rem;
  color: #e8edf79a;
  width: 80%;
}

.cards5 {
  text-align: center;
  width: 75%;
  margin-top: 8vh;
  align-items: center;
  flex-direction: row;
}

.texto5, .texto5{
  width: 100%;
}

.container-cards{
  width: 40%;
  flex-direction: column;
}

.secao5 .cards52 {
  align-items: center;
  flex-direction: row;
}

.sessão5 .card5 {
  z-index: -10;
  width: 5vw;
  border-radius: 10px;
}

.secao5 .title5 {
  font-family: "Plus Jakarta Sans SemiBold";
  text-align: left;
  color: white;
  font-size: 24px;
  white-space: nowrap;
  margin-bottom: 1vh;
}

.secao5 .text5 {
  font-family: "Plus Jakarta Sans Medium";
  color: #e8edf786;
  text-align: left;
  margin: 0;
}

.sobre{
  flex-direction: row;
}

@media screen and (max-width: 1536px){

  .banner-textos{
    margin-top: 15vh;
  }
  .banner1img .arvores{
    width: 30%;
    margin-right: 40%;
    }

.secao5 h1 {
  font-family: "Plus Jakarta Sans Bold";
  color: white;
  margin-bottom: 3vh;
}
.banner2{
    height: 45vh;
  }

  .container-cards{
    width: 60%;
  }
}

@media screen and (max-width: 1280px) {
.cards5{
  flex-direction: column-reverse;
}

.container-cards {
  flex-direction: row;
  width: 100%;
}

.cards52{
  flex-direction: column;
  width: 25%;
}

.sobre{
  flex-direction: column;
}
}

@media screen and (max-width: 1024px) {
  .secao5{
    height: 80vw;
    margin-bottom: 5%;
  }

.secao4 .cards42 .text4{
  font-size: 15px;
}
.secao4 .bolinha{
  width: 5vw;
}

}

@media screen and (max-width: 768px) {
  .secao4 .bolinha {
    width: 40px;
  }

  .secao4 .cards4 {
    width: 80%;
  }

  .secao4 .cards42 {
    margin-bottom: 15%;
    width: 10vw;
  }

  .secao4 .text4 {
    margin-top: 8vw;
    width: 20vw;
  }

  .secao4 .card4 {
    width: 10vw;
    height: 10vw;
  }

  .secao5 {
    height: 90vw;
    padding-top: -5%;
  }

  .secao5 .title5_3 {
    width: 55%;
    margin-left: 0%;
    margin-bottom: 7%;
    font-size: 15px;
  }

  .secao5 .card5 {
    width: 5vw;
  }
  .secao5 .title5 {
    font-size: 15px;
  }
  .secao5 .text5 {
    width: 130%;
    margin-left: 0vw;
    font-size: 15px;
  }
.container-cards{
  margin-left: -5%;
}
  .secao5 .banner2 {
    width: 40vw;
    margin-right: -10%;
  }
}