body{
    background-color: #2D2F39;

}
.form{
margin-top: 5%;
background-color: #2D2F39;
   padding: 3%;
   border-radius: 20px;
   width: 30%;
   margin-right: 1%;
}
.form1{
    margin-top: 5%;
}
.form label{
    color: #ffff;
    opacity: 0.5;
}
.form button{
    margin-top: 5%;
}