hr {
    width: 300px;
}

body {
    background-color: #F5F5F5 !important;
    font-family: 'Plus Jakarta Sans Medium';
}

main {
    align-content: start;
}

section {
    margin-top: 10vh;
}

.page-indicador {
    width: fit-content;
    margin-bottom: 8vh;
}

.page-indicador h1 {
    font-family: 'Plus Jakarta Sans Bold';
}

input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    background-color: transparent !important;
    outline: none;
    width: 100%;
}


.data input {
    background-color: transparent !important;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    --tw-ring-color: none !important;
}

.h2-resp{
    margin-top: 8vh;
}


.autoc-escolas{
    background-color: #fff;
    width: fit-content;
}