body{
    background-color: #F5F5F5 !important;
}

main{
    align-content: start;
}

section{
    margin-top: 10vh;
    margin-bottom: 10vh !important;    
}


.page-indicador{
    width: fit-content;
}

.page-indicador h1{
    font-family: 'Plus Jakarta Sans Bold';
}

hr{
    width:100%
}

p{
    font-family: 'Plus Jakarta Sans Medium';
    font-size: 1rem;
    margin: 0;
    
}

.btn-add{
    padding: 1vh 2vw;
    background-color: #013FF6;
    color: #fff;
    border-radius: 40px;
    font-family: "Plus Jakarta Sans Medium";
}

.btn-add a{
    color: #fff !important;
    text-decoration: none;
}

.btn-edit{
    color: #596780;
    font-family: "Plus Jakarta Sans Medium";
}

