hr {
    width: 300px;
}

body {
    background-color: #F5F5F5 !important;
}

/*main {
    align-content: start;
}*/

section {
    margin-top: 10vh;
}

.page-indicador {
    width: fit-content;
    margin-bottom: 8vh;
}

.page-indicador h1 {
    font-family: 'Plus Jakarta Sans Bold';
    font-size:2.5rem
}

p{
    font-family: 'Plus Jakarta Sans Medium';
    font-size: 1rem;
    margin:0 !important;
}

h3{
    font-family: 'Plus Jakarta Sans Semibold';
    font-size: 1.2rem;
}

/*.icone{
    width: 70px;
    height: 70px;
    background-color:#ffbf1d3a;
    align-items: center ;
    justify-items: center;
    border-radius: 50%;
    padding: 15px
}

.img-icone{
   align-items: center;
   width: 35px
}*/

.icone{
    background-color: #013ef64f;
    /*width: 60px;
    height: 60px;
    justify-items: center;
  position:relative;
  border-radius: 50%;*/
}
/*.img-icone{
    width: 30px !important;
    position: absolute;
    top:25%;
    left:25%
    
}*/

/*.informacao{
    font-size: 25px;
    font-family: 'Plus Jakarta Sans Bold';
}*/

.box-infos{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.numero{
    font-size: xx-large;
    font-family: 'Plus Jakarta Sans Bold';
}

/*Gráfico de viagens*/
.grafico{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
}

.titulo-grafico{
    font-family: 'Plus Jakarta Sans Semibold';
    font-size: 1.2rem;

}

/*tabela de veiculos*/
.botao{
    
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.3s ease
}



.tabela{
    font-family: 'Plus Jakarta Sans Medium';
}

